<p>Holaa, componente 1 home!</p>
<br>
<p>Mi nombre es: {{nombre}} </p>
<br>
<p>Mi edad es: {{edad}} </p>
<br>
<p>Datos persona:</p>
<br>
<p>Nombre: {{persona.nombre}}</p>
<br>
<p>Edad: {{persona.edad}}</p>
<br>
<p>Dirección: {{persona.direccion}}</p>
 <br>
 <label>Cambiando nombre</label>
 <input type="text"[(ngModel)]="nombre">
 <button (click)= "cambiandoEdad()">Enviar</button>
<p>mi nuevo  nombre es: {{nombre}}</p>
<p>mi nueva  edad es: {{edad}}</p>

@if(edad>40){
    <h3>Es cuarenton</h3>

}@else {
    <h3>Es señor</h3>

}

<li>
@for (frut of frutas ; track frut){
    <ul>{{frut}}</ul>
}
</li>

